body{
    background-color:#EBCFC4;
}
#title{
text-align:center;
margin-top:50px;
font-size: 60px;
font-family: Comic Sans Ms;
color: white;
background-color:indigo;
}

#maincont{
width:1000px;
margin:auto; 
background-color:#EBCFC4; 
}

img{
width:300px;
height:300px;
margin-top: 50px;
padding:20px;
}

#divcat{
width:1000px;
text-align:center;
background-color:#EBCFC4;
margin:auto; 

}


.catBtn {
    background-color:#999999;
    border: dotted;
    color: indigo;
    padding: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 30px;
    border-radius: 60px;
    font-family: Comic Sans Ms;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

}
.catBtn:hover {
    background-color:white; 
*/}
p{
    font-size: 25px;
    font-family: Comic Sans Ms;
    color: indigo;
    margin: 100px 50px;
    text-align: center;

}

